<!-- Uses core.css stylesheet -->
<section data-ng-controller="HomeController">
    <div class="img-wrap">
    <div class="row">
        <div class="col-md-4">
        
        
    <ul class="grid-style-4">
        <li>
					<figure>
						<img src="/modules/core/img/dsotm.jpg" class="img-responsive lol" alt="one">
						<figcaption>
							<h3>Dark Side Of The Moon</h3>
							<span>Pink Floyd</span>
							<a href="#">Take a look</a>
						</figcaption>
					</figure>
				</li>
        </ul>
        </div>
        
        <div class="col-md-4">
        <img src="/modules/core/img/family.jpg" class="img-responsive lol" alt="two">
        </div>
        
        <div class="col-md-4">
        <img src="/modules/core/img/ickythump.jpg" class="img-responsive lol" alt="three">
        </div>
    
    </div><!-- Closes first row-->

        <br>
        
    <div class="row">
        <div class="col-md-4">
        <img src="/modules/core/img/dsotm.jpg" class="img-responsive lol" alt="one">
        </div>
        
        <div class="col-md-4">
        <img src="/modules/core/img/family.jpg" class="img-responsive lol" alt="two">
        </div>
        
        <div class="col-md-4">
        <img src="/modules/core/img/ickythump.jpg" class="img-responsive lol" alt="three">
        </div>
    
    </div><!-- Closes row 2-->
    </div><!-- Closes img-wrap-->
    
</section>

